.content {
    background-color: #F9F9F9;
    min-height: 100vh;
    min-width: 100vh;
    border-top: 1px solid #C9C9C9;
}

.weight-summary {
    display: flex;
    justify-content: center;
    background: white;
    margin: 50px 185px 0px 185px;
    height: 130px;
}

.target-weight {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    border-right: 1px solid;
}

.difference-weight {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.latest-weight {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    border-left: 1px solid;
}

.target-weight__title {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 10px;
    margin-right: 200px;
}

.difference-weight__title {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 10px;
    margin-right: 70px;
}

.latest-weight__title {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 10px;
    margin-right: 80px;
}

.target-weight__value {
    font-size: 35px;
    font-weight: bold;
    margin: -5px 160px 30px 0px;
}

.difference-weight__value {
    font-size: 35px;
    font-weight: bold;
    margin: -5px 100px 0px 50px;
}

.latest-weight__value {
    font-size: 35px;
    font-weight: bold;
    margin: -5px 100px 0px 50px;
}

.kg {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 8px;
}